html, body {
  height: 100%;
  /*background-color: #f8f8f8;*/
  background: #1f1f1f;
}
#app, .wrapper {
  width: 100%;
  height: 100%;
}
#pageContent {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 90%;
  border: 0px;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  #pageContent {
    margin: 0 0 0 200px;
  }
}
.navbar {
  height: 10%;
  background-color: #283643;
  margin: 0;
}
/* nacbar style */
.navbar-top-links {
  height: 100%;
  margin: 0;
}
.navbar-top-links li {
  display: inline-block;
}
/* sidebar style */
.sidebar {
  width: 20%;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 200px;
    /*margin-top: 51px; modify at 2016-08-26 16:28, thlin*/
  }
}
/* main-area style */
.main-area {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/*
 * Change page animanal base on CSS transition.
 */
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
/* FunA style */
.FunA-style {
  padding: 10px;
}
